// common.scss

$font-size-12:0.75rem;
$font-size-14:0.875rem;
$font-size-16:1rem;
$font-size-18:1.125rem;
$font-size-20:1.25rem;
$font-size-24:1.5rem;
$font-size-30:1.875rem;

$font-weight-m:500;
$font-weight-sb:600;
$font-weight-b:700;

$line-height-120:120%;
$line-height-150:150%;

$color-point:#FF4519;
$color-gray-0:#e5e5e5;
$color-gray-1:#F6F6F6;
$color-gray-2:#999;
$color-gray-3:#767676;
$color-gray-4:#666;
$color-gray-5:#333;
$color-gray-6:#111;
$color-white:#fff;

@mixin check1 {border: 2px solid red;}
@mixin check2 {border: 2px solid green;}
@mixin check3 {border: 2px solid blue;}
@mixin grid-con {display:grid; align-items: start;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows: repeat(2,1fr);
}

@mixin flex-main {display: flex; flex-flow: column nowrap; gap:30px; align-items: flex-start;}
@mixin col {display:flex; flex-flow: column nowrap; align-items:center;}
@mixin row {display: flex; flex-flow: row nowrap; align-items: center;}

@mixin slideBtn { border:1px solid $color-gray-2; position: relative;
    width: 24px; height: 24px; background-color: #fff; border-radius: 50%;}
@mixin mainimg {width: 508px; height: 696px;}
@mixin content_w {max-width: 1400px; min-width: 320px; margin: 0 auto;}
@mixin icon18 {width: 18px; height: 18px}
@mixin icon24 {width: 24px; height: 24px}
@mixin icon2724 {width: 27px; height: 24px}
@mixin icon30 {width: 30px; height: 30px}
@mixin icon40 {width: 40px; height: 40px}
@mixin borderR {border-radius:5px;}
@mixin border-line {border: 1px solid $color-gray-3; border-radius:5px; }
@mixin after-line {display: block; content:''; left:60px; top: 0; position: absolute; width: 1.25px; height: 16px; background-color: #111;}
@mixin control-border {border: 1px solid $color-gray-0;}
@mixin buybtn {width: 100%; padding: 25.5px 0; border:5px; border: 1px solid $color-gray-6; font-weight: 500;}
@mixin li-after {display: block; content: '';border-radius: 50%;width: 4px; height: 4px; position: absolute; left: -10px; top:7px; background:$color-gray-2;}

@keyframes belt {
    0% {transform: translateX(0);}
    100% {transform: translateX(-100%);}
}