@use './common.scss' as *;


    #pop_up { display: none;
        &.active {display: block;}
        .pop_up_bg {
            position: fixed;
            opacity: 0.7;
            z-index: 900;
            width: 100%; height:100vh; 
            background:$color-gray-6;
        }
        .pop_up_box {
        position: fixed;
        left: 50%;
        top:45%;
        transform: translate(-50%, -50%);    
        background:$color-white;
        border-radius: 10px;
        padding: 25px; 

        @include col;
        align-items: flex-end;
        width: 350px;
        gap:15px;
        z-index: 999;
        #cancel {
            @include icon18;
            img {width: 100%;}
        }
        p {margin-bottom: 30px;
            margin: 0 auto;
            text-align: center;
            font-size:$font-size-20;
            font-weight:$font-weight-sb;
        }
        #share_icon {
            margin: 0 auto;
            @include row; gap:18px;
            margin-bottom: 10px;
            a { 
                font-size:$font-size-14;
                text-align: center;
                color:$color-gray-3;
            img {margin-bottom: 10px;}
            }
    }
        }
        }

/*----------------------------배너*/
#banner {
    position: fixed;
    height: 46px ;
    top: 0; left: 0;
    z-index: 800;
    animation:belt 300s infinite;
    overflow: hidden;
    background:$color-gray-6;
    a {width: max-content;
        display: flex; flex-flow: row wrap;
        align-items: center; justify-content: center;gap:150px;
        padding: 15px 0;
        span {color:$color-white;}
    }
}




dl {
    dt {font-size:$font-size-14; color:$color-gray-2; font-weight:$font-weight-m;}
    dd {font-size:$font-size-14;}
}
/*----------------------------헤더*/
/* 로고 */
header {
    position: fixed;
    top: 46px; left: 0;
    @include row;
    width: 100%;
    justify-content: space-between;
    padding: 0 50px;
    background-color: #fff;
    z-index: 800;
    .logo {
        width: 157px;
        height: 30px;

        a {
        img {width: 100%;}
        }
    }

  /* 카테고리 */
    .categorie {
        @include row;
        gap: 50px;

        a {
        font-weight:$font-weight-sb;
        padding: 30px 0;
        display: inline-block;
        min-width: 0;
        white-space: nowrap;
        }
    }

  /* 계정 */
    .account {
        @include row;
        gap:20px;

        a {
        padding: 20px 0;
        display: inline-block;

        img {}
        }
        a:nth-child(4) {display:none;}
    }
}

/*--------------------------경로*/
#MO_path {
    @include content_w;
    padding: 128px 20px 35px;

    #path {
        @include row;

        img {width: 15px; height: 15px; fill:$color-gray-2; margin-right: 5px;}
        a {
            &:hover {opacity: 0.7;}
        font-size:$font-size-12;

        &:nth-child(2) {font-size:$font-size-12; color:$color-gray-2;}
        }
        span {font-size:$font-size-12; margin: 0 10px; color:$color-gray-2;}
    }
}

/*--------------------------------------------- 메인 */
main {  
    @include content_w;
    @include grid-con;
    padding: 0 20px 50px;
    section {}

    /*--------------------------썸네일*/
    #MO_thumbnail {
        align-items: stretch;
        display: flex;
/*         align-items: flex-start; */
        gap: 20px;
        width: 100%;
        //height: 704px;
        max-width: 640px;
        margin: 0 auto;
        aspect-ratio: 1 / 1.1 ;
        /* width: 100%;
        max-width: 680px;
        height: auto;
        @include check3;
        @include row;
        gap: 30px; */

    /* -----사이드 */
    #side {
        
        display: flex;
        flex-flow: column nowrap;
        position: relative;
        height:100%;

        .swiper-button-prev {
            top:5%;
            transform: rotate(90deg) translateX(-50%);
            left: 37%;
        }
        .swiper-button-next {
            bottom:0px;
            /* transform: translateX(-50%); */
            left: 60%;
            width: 100%;
            /* transform:translateX(50%); */
        }

        .slidebtn {
            width: 24px; height: 24px;
            position: absolute;
            border: 1px solid $color-gray-4;
            
            width: 24px; height: 24px;
            background-color: #fff;
            z-index: 10;
            border-radius: 50%;

            svg {width: 8px;}
            path {color:$color-gray-4;}
            }
        
        /* position: relative;
        width: 12%; 
        max-width: 84px;
        aspect-ratio: 1 / 7.7; */
        &::after {
            display: block; content: ''; 
            width: 100%; height: 10%;
            left: 0; bottom:5%;
            background: linear-gradient(to top, #fff 10%, transparent 100%);
            position: absolute;
            z-index: 500;
        }

        #side_img {
            height: auto;
            width: 100%;
            height: 90%;
            margin: auto 0;
            position: relative;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            
            

            
            
            .swiper-wrapper {
                height:100%; 
                margin: auto 0;
                box-sizing: border-box;
                /* display: flex;
                flex-direction: column; */
            .swiper-slide {
                &.active {
                    border: 1.5px solid $color-gray-3;
                    border-radius: 12px;
                    box-sizing: border-box;
                }
                height: auto !important; 
                /* margin-bottom: 8px !important; */
                a {
                    
                    width: 84px; height: 84px;
                    display: block;
                    position: relative;
                    &:hover::after{
                        display: block;
                        content: '';
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background:$color-white;
                        opacity: 0.3;
                        border-radius: 10px;
                    }
                img {
                    
                    width: 84px; height: 84px;
                    object-fit: cover;
                    border-radius: 10px;
                }
                }
            }
            }
            
        }

        
        }

        
    }

  /* -----메인 */
    #main {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    height: 100%;
    /* flex: 1;
    width: max-content;    
    margin-right: 30px;
    position: relative;
    @include mainimg; */

    #main_img {
        width: 100%; 
        
        border-radius: 20px;

        .swiper-wrapper {
            .swiper-slide {
            a { 
                img {width: 100%; height: 100%; object-fit: cover;}
            }
            }
        }

        .swiper-pagination {bottom: 5%;}
        .swiper-pagination-bullet-active {
            background:$color-gray-5;
            transform: scale(1.5);
            opacity: 0.7;
        }
        }
    }

    /*--------------------------콘텐츠*/
    #MO_contents {
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
        margin-left: 30px;
    .row {}

    /* ----------1행 타이틀 */
    .row1 {
        margin-bottom: 20px;
        #title {
            @include row;
            align-items: flex-start;
            margin-bottom: 20px;
            h1 {
                font-size:$font-size-30;
                line-height:$line-height-150;
                font-weight:$font-weight-sb;
            }
            #share_btn {
                margin-top: 10px;
                img {margin-left: 50px;}
            }
            
        }
        p {
            font-size:$font-size-16;
            color:$color-gray-4;
            line-height:$line-height-150;
        }
    }

    /* ----------2행 상품가 */
    .row2 {
        position: relative;
        width: max-content;
        #orignal_pirce {
            margin-bottom:15px;
            * {color:$color-gray-3;}
            span:nth-child(1), del {
                font-size:$font-size-20;
                font-weight:$font-weight-m;
            }
            span:nth-child(2) {font-size:$font-size-14;}
        }
        #discount {
            
            @include row; gap:5px;
            .discount_rate, .discount_rate>em {
                color:$color-point;
                font-size:$font-size-24;
                font-weight:$font-weight-sb;
            }
            .discount_cost, .discount_cost >em {
                font-size:$font-size-24;
                font-weight:$font-weight-sb;
            }
            .discount_target {font-size:$font-size-14; color:$color-gray-3;}
            #discount_info { @include icon18; display: inline-block; position: relative;
            img {width: 100%;}
            }
        }
        p { display: none;
            position: absolute; background-color: red;
            top: 0; right: 0;
            &.active {display: block;}
            &::after {
                background-image: url(../images/ico-bubble-toptip.svg);
                background-repeat: no-repeat;
                display: block; content: '';
                width: 100%;
                height: 100%;
                left: 40%; top: -20%;
                position: absolute;
            }
            @include border-line;
            background:$color-white;
            font-size:$font-size-12;
            padding: 10px;
            width: fit-content;
            position: absolute;
            right: -9%; top:110%;
        }
        
    }

    /* ----------3행 정보 카드 */
    
    .row3 {
        overflow: hidden;
        //width: 100%;
        #card {
            //min-width: 0;
            //overflow: hidden;
            .swiper-wrapper {
                .swiper-slide {
                    width: 420px;
                    margin-right: 10px;
                    background:$color-gray-1;
                    box-sizing: border-box;
                    border-radius: 10px;
                    padding: 16px 20px;
                    min-height: 100px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    
                    .card_wrap {
                        //width: 100%;
                        display: flex;
                        align-items: flex-start;
                        gap: 20px;
                        .head {
                            line-height: $line-height-150;
                            font-size: $font-size-12;
                            font-weight: $font-weight-m;
                            color: $color-gray-2;
                            flex-shrink: 0; // ??

                        }
                        .con {
                            line-height: $line-height-150;
                            font-size: $font-size-12;
                        }
                    }

                    
                    .card2 {@include row;}
                    .card3 {}
                    .card4 {}
                }
                .wrap1 {
                    align-items: flex-start;
                    img {@include icon40;}
                    .card1 {
                        @include col;
                        align-items: flex-start;
                        gap: 5px;
                        margin-left: 20px;
                    }
                }
            }
        }
    }
    /* ----------4행 리뷰 */
    .row4 {width: 100%;
        .review_wrap {
            margin-bottom: 20px;
            @include row; gap: 10px;
            span:nth-child(1) {position: relative;
            &::after {@include after-line;}
            img {}
            }
            .review_count {@include row; gap:5px;}
            }
        
        .row5 {
        border-bottom: 1px solid $color-gray-0;
        border-top: 1px solid $color-gray-0; 
        
        dl {@include row; 
            gap:50px;
            padding:30px 0;
            dt {}
            dd {}
        }
    }
    }

    /* ----------5행 배송비 */
    

    /* ----------6행 상품 수량관리 */
    .row6 {width: 100%; @include control-border; border-radius: 10px;
        .price_wrap {padding:24px; 
            .product_title {
                font-weight:$font-weight-m;
                margin-bottom: 40px;
                line-height: $line-height-150;
                
            }
            .control {
                @include row;
                justify-content: space-between;
                
                .control_btn {
                    @include control-border;
                    width: max-content;
                    .count {
                            
                        input {
                            width: 30px; height: 28px;
                            text-align: center;
                            border: 1px solid $color-gray-1;
                        }
                    }
                }
                button {
                    width: 20px;
                    height: 20px;
                    line-height: 10px;
                    font-size: $font-size-18;
                }
            #price, 
            #price > em {
                font-size: $font-size-20;
                font-weight:$font-weight-sb;
                
            }
        }
    }}
/* ----------7행 합계 */
    .row7 {
        @include row;
        justify-content: space-between;
        width: 100%;
        span, em {
            font-weight:$font-weight-sb; 
        }
        #total {
            .total_price,>em {
                font-size:$font-size-30;
            }
            .count {}
        }
    }
    

    /* ----------8행 최종 구매 버튼 */
    .row8 {
        width: 100%;
        @include row;
        #favorite {
            padding: 20px;
            border: 1px solid $color-gray-6;
            border-radius: 5px;
            margin-right: 5px;
            img {
                width: 24px;
                height: 24px;
            }
        }
        #cart {
            &:hover {background:$color-gray-1;}
            @include buybtn;
            border-radius: 5px 0 0 5px;
            }
        #buy_now {
            &:hover {background:$color-gray-5;}
            @include buybtn;
            border-radius: 0 5px 5px 0;
            background-color:$color-gray-6;
            color:$color-white;}
    }

    /* ----------9행 세부사항 안내 */
    .row9 {
        ul {
            li {margin-left: 20px; position: relative;
                &::after {
                    @include li-after;
                }
            }
            li,em {
                color:$color-gray-3;
                font-size:$font-size-12;
                margin-bottom: 5px;
                line-height:$line-height-150;
                em {font-weight:$font-weight-m;}

            }
        }
    }

    /* --------------팝업 */
    
    }
}

