@charset "UTF-8";
@keyframes belt {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
#pop_up {
  display: none;
}
#pop_up.active {
  display: block;
}
#pop_up .pop_up_bg {
  position: fixed;
  opacity: 0.7;
  z-index: 900;
  width: 100%;
  height: 100vh;
  background: #111;
}
#pop_up .pop_up_box {
  position: fixed;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 10px;
  padding: 25px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  align-items: flex-end;
  width: 350px;
  gap: 15px;
  z-index: 999;
}
#pop_up .pop_up_box #cancel {
  width: 18px;
  height: 18px;
}
#pop_up .pop_up_box #cancel img {
  width: 100%;
}
#pop_up .pop_up_box p {
  margin-bottom: 30px;
  margin: 0 auto;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
}
#pop_up .pop_up_box #share_icon {
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 18px;
  margin-bottom: 10px;
}
#pop_up .pop_up_box #share_icon a {
  font-size: 0.875rem;
  text-align: center;
  color: #767676;
}
#pop_up .pop_up_box #share_icon a img {
  margin-bottom: 10px;
}

/*----------------------------배너*/
#banner {
  position: fixed;
  height: 46px;
  top: 0;
  left: 0;
  z-index: 800;
  animation: belt 300s infinite;
  overflow: hidden;
  background: #111;
}
#banner a {
  width: max-content;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 150px;
  padding: 15px 0;
}
#banner a span {
  color: #fff;
}

dl dt {
  font-size: 0.875rem;
  color: #999;
  font-weight: 500;
}
dl dd {
  font-size: 0.875rem;
}

/*----------------------------헤더*/
/* 로고 */
header {
  position: fixed;
  top: 46px;
  left: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 0 50px;
  background-color: #fff;
  z-index: 800;
}
header .logo {
  width: 157px;
  height: 30px;
}
header .logo a img {
  width: 100%;
}
header {
  /* 카테고리 */
}
header .categorie {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 50px;
}
header .categorie a {
  font-weight: 600;
  padding: 30px 0;
  display: inline-block;
  min-width: 0;
  white-space: nowrap;
}
header {
  /* 계정 */
}
header .account {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 20px;
}
header .account a {
  padding: 20px 0;
  display: inline-block;
}
header .account a:nth-child(4) {
  display: none;
}

/*--------------------------경로*/
#MO_path {
  max-width: 1400px;
  min-width: 320px;
  margin: 0 auto;
  padding: 128px 20px 35px;
}
#MO_path #path {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
#MO_path #path img {
  width: 15px;
  height: 15px;
  fill: #999;
  margin-right: 5px;
}
#MO_path #path a:hover {
  opacity: 0.7;
}
#MO_path #path a {
  font-size: 0.75rem;
}
#MO_path #path a:nth-child(2) {
  font-size: 0.75rem;
  color: #999;
}
#MO_path #path span {
  font-size: 0.75rem;
  margin: 0 10px;
  color: #999;
}

/*--------------------------------------------- 메인 */
main {
  max-width: 1400px;
  min-width: 320px;
  margin: 0 auto;
  display: grid;
  align-items: start;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 0 20px 50px;
}
main {
  /*--------------------------썸네일*/
}
main #MO_thumbnail {
  align-items: stretch;
  display: flex;
  /*         align-items: flex-start; */
  gap: 20px;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  aspect-ratio: 1/1.1;
  /* width: 100%;
  max-width: 680px;
  height: auto;
  @include check3;
  @include row;
  gap: 30px; */
  /* -----사이드 */
}
main #MO_thumbnail #side {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  height: 100%;
}
main #MO_thumbnail #side .swiper-button-prev {
  top: 5%;
  transform: rotate(90deg) translateX(-50%);
  left: 37%;
}
main #MO_thumbnail #side .swiper-button-next {
  bottom: 0px;
  /* transform: translateX(-50%); */
  left: 60%;
  width: 100%;
  /* transform:translateX(50%); */
}
main #MO_thumbnail #side .slidebtn {
  width: 24px;
  height: 24px;
  position: absolute;
  border: 1px solid #666;
  width: 24px;
  height: 24px;
  background-color: #fff;
  z-index: 10;
  border-radius: 50%;
}
main #MO_thumbnail #side .slidebtn svg {
  width: 8px;
}
main #MO_thumbnail #side .slidebtn path {
  color: #666;
}
main #MO_thumbnail #side {
  /* position: relative;
  width: 12%; 
  max-width: 84px;
  aspect-ratio: 1 / 7.7; */
}
main #MO_thumbnail #side::after {
  display: block;
  content: "";
  width: 100%;
  height: 10%;
  left: 0;
  bottom: 5%;
  background: linear-gradient(to top, #fff 10%, transparent 100%);
  position: absolute;
  z-index: 500;
}
main #MO_thumbnail #side #side_img {
  height: auto;
  width: 100%;
  height: 90%;
  margin: auto 0;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
main #MO_thumbnail #side #side_img .swiper-wrapper {
  height: 100%;
  margin: auto 0;
  box-sizing: border-box;
  /* display: flex;
  flex-direction: column; */
}
main #MO_thumbnail #side #side_img .swiper-wrapper .swiper-slide.active {
  border: 1.5px solid #767676;
  border-radius: 12px;
  box-sizing: border-box;
}
main #MO_thumbnail #side #side_img .swiper-wrapper .swiper-slide {
  height: auto !important;
  /* margin-bottom: 8px !important; */
}
main #MO_thumbnail #side #side_img .swiper-wrapper .swiper-slide a {
  width: 84px;
  height: 84px;
  display: block;
  position: relative;
}
main #MO_thumbnail #side #side_img .swiper-wrapper .swiper-slide a:hover::after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  opacity: 0.3;
  border-radius: 10px;
}
main #MO_thumbnail #side #side_img .swiper-wrapper .swiper-slide a img {
  width: 84px;
  height: 84px;
  object-fit: cover;
  border-radius: 10px;
}
main {
  /* -----메인 */
}
main #main {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  height: 100%;
  /* flex: 1;
  width: max-content;    
  margin-right: 30px;
  position: relative;
  @include mainimg; */
}
main #main #main_img {
  width: 100%;
  border-radius: 20px;
}
main #main #main_img .swiper-wrapper .swiper-slide a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main #main #main_img .swiper-pagination {
  bottom: 5%;
}
main #main #main_img .swiper-pagination-bullet-active {
  background: #333;
  transform: scale(1.5);
  opacity: 0.7;
}
main {
  /*--------------------------콘텐츠*/
}
main #MO_contents {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  margin-left: 30px;
}
main #MO_contents {
  /* ----------1행 타이틀 */
}
main #MO_contents .row1 {
  margin-bottom: 20px;
}
main #MO_contents .row1 #title {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-items: flex-start;
  margin-bottom: 20px;
}
main #MO_contents .row1 #title h1 {
  font-size: 1.875rem;
  line-height: 150%;
  font-weight: 600;
}
main #MO_contents .row1 #title #share_btn {
  margin-top: 10px;
}
main #MO_contents .row1 #title #share_btn img {
  margin-left: 50px;
}
main #MO_contents .row1 p {
  font-size: 1rem;
  color: #666;
  line-height: 150%;
}
main #MO_contents {
  /* ----------2행 상품가 */
}
main #MO_contents .row2 {
  position: relative;
  width: max-content;
}
main #MO_contents .row2 #orignal_pirce {
  margin-bottom: 15px;
}
main #MO_contents .row2 #orignal_pirce * {
  color: #767676;
}
main #MO_contents .row2 #orignal_pirce span:nth-child(1), main #MO_contents .row2 #orignal_pirce del {
  font-size: 1.25rem;
  font-weight: 500;
}
main #MO_contents .row2 #orignal_pirce span:nth-child(2) {
  font-size: 0.875rem;
}
main #MO_contents .row2 #discount {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 5px;
}
main #MO_contents .row2 #discount .discount_rate, main #MO_contents .row2 #discount .discount_rate > em {
  color: #FF4519;
  font-size: 1.5rem;
  font-weight: 600;
}
main #MO_contents .row2 #discount .discount_cost, main #MO_contents .row2 #discount .discount_cost > em {
  font-size: 1.5rem;
  font-weight: 600;
}
main #MO_contents .row2 #discount .discount_target {
  font-size: 0.875rem;
  color: #767676;
}
main #MO_contents .row2 #discount #discount_info {
  width: 18px;
  height: 18px;
  display: inline-block;
  position: relative;
}
main #MO_contents .row2 #discount #discount_info img {
  width: 100%;
}
main #MO_contents .row2 p {
  display: none;
  position: absolute;
  background-color: red;
  top: 0;
  right: 0;
}
main #MO_contents .row2 p.active {
  display: block;
}
main #MO_contents .row2 p::after {
  background-image: url(../images/ico-bubble-toptip.svg);
  background-repeat: no-repeat;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  left: 40%;
  top: -20%;
  position: absolute;
}
main #MO_contents .row2 p {
  border: 1px solid #767676;
  border-radius: 5px;
  background: #fff;
  font-size: 0.75rem;
  padding: 10px;
  width: fit-content;
  position: absolute;
  right: -9%;
  top: 110%;
}
main #MO_contents {
  /* ----------3행 정보 카드 */
}
main #MO_contents .row3 {
  overflow: hidden;
}
main #MO_contents .row3 #card .swiper-wrapper .swiper-slide {
  width: 420px;
  margin-right: 10px;
  background: #F6F6F6;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 16px 20px;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
main #MO_contents .row3 #card .swiper-wrapper .swiper-slide .card_wrap {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
main #MO_contents .row3 #card .swiper-wrapper .swiper-slide .card_wrap .head {
  line-height: 150%;
  font-size: 0.75rem;
  font-weight: 500;
  color: #999;
  flex-shrink: 0;
}
main #MO_contents .row3 #card .swiper-wrapper .swiper-slide .card_wrap .con {
  line-height: 150%;
  font-size: 0.75rem;
}
main #MO_contents .row3 #card .swiper-wrapper .swiper-slide .card2 {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
main #MO_contents .row3 #card .swiper-wrapper .wrap1 {
  align-items: flex-start;
}
main #MO_contents .row3 #card .swiper-wrapper .wrap1 img {
  width: 40px;
  height: 40px;
}
main #MO_contents .row3 #card .swiper-wrapper .wrap1 .card1 {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  align-items: flex-start;
  gap: 5px;
  margin-left: 20px;
}
main #MO_contents {
  /* ----------4행 리뷰 */
}
main #MO_contents .row4 {
  width: 100%;
}
main #MO_contents .row4 .review_wrap {
  margin-bottom: 20px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 10px;
}
main #MO_contents .row4 .review_wrap span:nth-child(1) {
  position: relative;
}
main #MO_contents .row4 .review_wrap span:nth-child(1)::after {
  display: block;
  content: "";
  left: 60px;
  top: 0;
  position: absolute;
  width: 1.25px;
  height: 16px;
  background-color: #111;
}
main #MO_contents .row4 .review_wrap .review_count {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 5px;
}
main #MO_contents .row4 .row5 {
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
}
main #MO_contents .row4 .row5 dl {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 50px;
  padding: 30px 0;
}
main #MO_contents {
  /* ----------5행 배송비 */
  /* ----------6행 상품 수량관리 */
}
main #MO_contents .row6 {
  width: 100%;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
}
main #MO_contents .row6 .price_wrap {
  padding: 24px;
}
main #MO_contents .row6 .price_wrap .product_title {
  font-weight: 500;
  margin-bottom: 40px;
  line-height: 150%;
}
main #MO_contents .row6 .price_wrap .control {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
main #MO_contents .row6 .price_wrap .control .control_btn {
  border: 1px solid #e5e5e5;
  width: max-content;
}
main #MO_contents .row6 .price_wrap .control .control_btn .count input {
  width: 30px;
  height: 28px;
  text-align: center;
  border: 1px solid #F6F6F6;
}
main #MO_contents .row6 .price_wrap .control button {
  width: 20px;
  height: 20px;
  line-height: 10px;
  font-size: 1.125rem;
}
main #MO_contents .row6 .price_wrap .control #price,
main #MO_contents .row6 .price_wrap .control #price > em {
  font-size: 1.25rem;
  font-weight: 600;
}
main #MO_contents {
  /* ----------7행 합계 */
}
main #MO_contents .row7 {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
main #MO_contents .row7 span, main #MO_contents .row7 em {
  font-weight: 600;
}
main #MO_contents .row7 #total .total_price, main #MO_contents .row7 #total > em {
  font-size: 1.875rem;
}
main #MO_contents {
  /* ----------8행 최종 구매 버튼 */
}
main #MO_contents .row8 {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
main #MO_contents .row8 #favorite {
  padding: 20px;
  border: 1px solid #111;
  border-radius: 5px;
  margin-right: 5px;
}
main #MO_contents .row8 #favorite img {
  width: 24px;
  height: 24px;
}
main #MO_contents .row8 #cart:hover {
  background: #F6F6F6;
}
main #MO_contents .row8 #cart {
  width: 100%;
  padding: 25.5px 0;
  border: 5px;
  border: 1px solid #111;
  font-weight: 500;
  border-radius: 5px 0 0 5px;
}
main #MO_contents .row8 #buy_now:hover {
  background: #333;
}
main #MO_contents .row8 #buy_now {
  width: 100%;
  padding: 25.5px 0;
  border: 5px;
  border: 1px solid #111;
  font-weight: 500;
  border-radius: 0 5px 5px 0;
  background-color: #111;
  color: #fff;
}
main #MO_contents {
  /* ----------9행 세부사항 안내 */
}
main #MO_contents .row9 ul li {
  margin-left: 20px;
  position: relative;
}
main #MO_contents .row9 ul li::after {
  display: block;
  content: "";
  border-radius: 50%;
  width: 4px;
  height: 4px;
  position: absolute;
  left: -10px;
  top: 7px;
  background: #999;
}
main #MO_contents .row9 ul li, main #MO_contents .row9 ul em {
  color: #767676;
  font-size: 0.75rem;
  margin-bottom: 5px;
  line-height: 150%;
}
main #MO_contents .row9 ul li em, main #MO_contents .row9 ul em em {
  font-weight: 500;
}
main #MO_contents {
  /* --------------팝업 */
}

@media screen and (max-width: 1024px) {
  #MO_path {
    display: none;
  }
  header {
    padding: 0 20px;
  }
  header .logo {
    width: 100px;
    height: auto;
  }
  header .categorie {
    display: none;
  }
  header .account a:nth-child(1),
  header .account a:nth-child(3) {
    display: none;
  }
  header .account a:nth-child(4) {
    display: block;
    width: 54px;
    height: 26px;
    border-radius: 30px;
    padding: 0;
    background: #111;
    color: #fff;
    text-align: center;
    line-height: 20px;
  }
  main {
    padding-top: 128px;
    max-width: none;
    display: block;
  }
  main #MO_thumbnail {
    aspect-ratio: auto;
    max-width: none;
  }
  main #MO_thumbnail #side {
    display: none;
  }
  main #MO_thumbnail #main {
    width: 100%;
    height: auto;
  }
  main #MO_contents {
    margin-left: 0;
    margin-top: 30px;
  }
  main #MO_contents .row3 #card .swiper-wrapper .swiper-slide {
    width: 350px;
    padding: 20px 30px;
    min-height: 120px;
  }
  main #MO_contents .row3 #card .swiper-wrapper .swiper-slide .card_wrap {
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
  }
  main #MO_contents .row3 #card .swiper-wrapper .swiper-slide .card2 {
    align-items: flex-start;
  }
}

/*# sourceMappingURL=main.css.map */
