body {padding-top: 50px;}
main { width: 1000px; height: 600px; padding: 164px 115px; border: 2px solid black; margin: 0 auto; 
    h1 {}
    h1:nth-child(1) {font-size: 3rem; font-weight: 500; margin-bottom: 5px;}
    h1:nth-child(2) {font-size: 4rem; font-weight: 700;}
    .birthday {display: flex; flex-flow: row nowrap; gap:15px; margin-top: 40px;
        .birth {display: flex; flex-flow: row nowrap; align-items: flex-end; gap:2px;
            dt {
               /*  &::after {display: block; content: ''; width: 2px; height: 40px;} */
                input {
                    font-size:1.5rem; padding: 10px; text-align: center; border: 2px solid black; color: brown;  font-weight: 500;  }
                
            }
            dd {margin-bottom:5px; font-size:1.5rem;}
        }
        .Y {
            #YY {width: 94px; height: 44px;}
            dd {}
        }
        .M {
            #MM {width: 67px; height: 44px;}
            dd {}
        }
        .D {
            #DD {width: 67px; height: 44px;}
            dd {}
        }
    }
    p {font-size: 1.5rem; font-weight: 500; margin-top: 40px; }
}